.admin-promo {
  form {
    &:first-of-type,
    &:last-of-type {
      margin-bottom 6em;
    }
  }

  h2:last-of-type {
    margin-top: 3em;
  }

  section.no-slant .inner {
    padding-bottom: 6em;
  }

  select {
    appearance: none;
    background: white;
    border: none;
    padding: 10px;
    width: 20em;
    max-width: 100%;
    border: 1px solid rgba(177, 177, 177, 0.8);
    font-size: 1em;

    & + [type=submit] {
      display: inline-block;
      margin-left: 0.5em;
    }
  }

  form .contents {
    visibility hidden;
    opacity: 0;
    transition: 0.5s opacity, visibility, max-height ease-in-out, padding;
    max-height: 0;
    overflow: hidden;
  }

  .trigger {
    padding: 20px 10px;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    font-size: 1.3em;
    background: rgba(177, 177, 177, .5);
    cursor pointer;
    margin-bottom: 1px;

    &.active ~ .contents {
      visibility visible;
      max-height: 50em;
      opacity: 1;
      padding-top: 20px;
    }
  }

  ul {
    margin 0;
    padding 0;
  }

  textarea {
    min-height: 8em;
  }

  form li:last-child {
    display flex;
    justify-content: space-evenly;
    align-items: center;

    @media only screen and (max-width: $mobile-small) {

    }
  }

  .delete {
    font-weight bold;
  }

  li .button {
    margin: 1em 0;
  }
}