.admin-promo {
  form {
    margin-bottom 5em;
  }

  ul {
    margin 0;
    padding 0;
  }

  textarea {
    min-height: 8em;
  }

  form li:last-child {
    display flex;
    justify-content: space-evenly;
    align-items: center;

    @media only screen and (max-width: $mobile-small) {

    }
  }

  .delete {
    font-weight bold;
  }

  li .button {
    margin: 1em 0;
  }
}