form
  width: 100%;

.form-row
  display: block;
  width: 100%;

.form-item
  transition: 0.2s;
  display: inline-block;
  width: 50%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  @media only screen and (max-width: $tablet)
    width: 100%;

  &:first-child
    padding-right: 3em;

    @media only screen and (max-width: $tablet)
      padding-right: 0;

label
  cursor: pointer;
  margin-bottom: 0.25em;
  display: inline-block;
  width: 100%;

  &[aria-required=true]
    &:after
      content: 'required';
      color: red;
      float: right;

[type=text],
[type=email],
[type=tel],
textarea
  font-size: 1.5rem;
  padding: 0.5em 0.75em;

[type=text],
[type=email],
[type=tel],
textarea
  outline: none;

  &:focus
    border: 1px solid gray;

[type=text],
[type=email],
[type=tel],
textarea
  border-radius: 0.5em;
  border: 1px solid lightgray;
  display: block;
  width: 100%;
  position: relative;
  top: -2px;

  &.placeholder {
    color: lightgray;
  }
  &:-moz-placeholder {
    color: lightgray;
  }
  &::-moz-placeholder {
    color: lightgray;
  }
  &:-ms-input-placeholder {
    color: lightgray;
  }
  &::-webkit-input-placeholder {
    color: lightgray;
  }

[type=tel],
[type=email]
  background-repeat: no-repeat;
  background-position: 4px 50%;

[type=tel]
  background-size: 18px 18px;
  padding-left: 1.5em;
  background-image-retina('/images/icons/phone', png, 18px, 18px);

[type=email]
  background-size: 16px 16px;
  padding-left: 1.7em;
  background-image-retina('/images/icons/email', png, 16px, 16px);
