header
  background-color: $blue;
  position: relative;

.container
  transform-style: preserve-3d;

.phone
  transition: 0.3s;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  left: 1em;
  top: 50%;
  border: 1px solid rgba(255,255,255, 0.75);
  padding: 0.5em;
  border-radius: 0.55em;

  a
    color: white;

  @media only screen and (max-width: $mobile)
    left: 50%;
    transform: translateX(-30%);

  @media only screen and (max-width: $mobile-xsmall)
    opacity: 0;

.logo
  padding: 1em 0;

  img
    transition: left 0.3s;
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    @media only screen and (max-width: $mobile)
      left: 1em;
      transform: translateX(0);

