header
  background-color: $blue;
  position: relative;

.phone
  transition: 0.3s;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  left: 1em;
  top: calc(50% - 1em);
  border: 1px solid rgba(255,255,255, 0.75);
  padding: 0.5em;
  border-radius: 0.55em;

  a
    color: white;
    text-decoration: none;
    font-weight: bold;

  @media only screen and (max-width: $mobile-large)
    top: calc(50% - 2.3em);

  @media only screen and (max-width: $mobile)
    left: 50%;
    transform: translateX(-30%);

  @media only screen and (max-width: $mobile-xsmall)
    font-size: 1rem;

.logo
  padding: 1em 0;

  img
    transition: left 0.3s;
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    @media only screen and (max-width: $mobile)
      left: 1em;
      transform: translateX(0);

#facebook-container
  position: absolute;
  top: 2.3rem;
  right: 1.1em;
  z-index: 3;
  top: 50%;
  margin-top: -20px;
  transition: 0.3s;

  @media only screen and (max-width: $mobile-large)
    right: inherit;
    top: 76%;
    left: 4.9em;

  @media only screen and (max-width: $mobile)
    left: 50%;
    margin-left: 16px;

  @media only screen and (max-width: $mobile-xsmall)
    margin-left: 6px;

  svg
    width: 40px;
    height: 40px;

    @media only screen and (max-width: $mobile-large)
      width: 32px;
      height: 32px;

    @media only screen and (max-width: $mobile-xsmall)
      width: 24px;
      height: 24px;

    path
      fill: white;
      color: white;

  &:hover
  &:focus
    path
      transition: 0.3s;
