nav
  flex: 1;
  display: flex;
  margin: 0 1.25em;
  top: 1em;
  position: relative;
  z-index: 2;

  @media only screen and (max-width: $mobile-large)
    height: auto;
    width: auto;
    position: fixed;
    right: -0.5rem;
    top: 9.49rem;

    .nav-opened &
      width: $mobile-menu-width;
      height: $mobile-menu-height;

  @media only screen and (max-width: $mobile)
    top: 7.89rem;

  .menu-list.sub
    transition: 0.2s cubic-bezier(0, 0, 1, 0.21);
    display: block;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 2.75em;

    &[aria-hidden=false]
      max-height: 20em;

    @media only screen and (max-width: $mobile-large)
      transform: translateX(-15.9em);
      top: 0;

  .menu-link.sub
    border: none;
    border-bottom: 1px solid rgba(black, 0.1);

    &[href ^='/rx-form']
      background-image-retina('/images/icons/rxform', png, 24px, 24px);
      background-repeat: no-repeat;
      background-position: 10px 50%;

  .menu-list.primary
    box-shadow: $default-bottom-shadow;;
    display: flex;
    flex: 1;

    for item in $menu-list
      &.{item} > .{item} > .menu-link
        background-color: lighten(#0097de, 80%);

    @media only screen and (max-width: $mobile-large)
      flex-direction: column;
      transition: 0.3s cubic-bezier(0.48, 0.26, 0.05, 1.07);
      transform: translateX(50em);
      opacity: 0;

  .menu-item
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;

    &.removable-prosthetics
      flex: 1 1 4em;

      @media only screen and (max-width: $mobile-large)
        flex: 1;

    &:first-child > a
      border-top: 1px solid rgba(black, 0.1);

  .menu-link
    width: 100%;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    background-color: white;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: black;
    transition: 0.3s;
    border-right: 1px solid rgba(black, 0.1);
    height: 3.6rem;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus
      background-color: lighten(#0097de, 80%);

    @media only screen and (max-width: $mobile-large)
      border-right: none;
      border-bottom: 1px solid rgba(black, 0.1);
      transition: none;

  @media only screen and (max-width: $mobile-small)
    width: 17rem !important;
    height: 8.6em !important;

    .menu-list.sub
      transform: translateX(-12.3em);
    .menu-link
      height: 3rem;
      font-size: 1rem;
