.testimonial
  position relative;
  max-width: 600px;
  margin: 0 auto;

  .bottom
    line-height 1.4;
    strong
      display block;
      font-weight: 600;
      font-size: 110%;

  &::before
    content: '\201C';
    color: $peach;
    background: none;
    font-size: 110px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -65px;
    top: 5px;

  @media only screen and (max-width: $tablet)
    padding: 0 3em 0 5em;

    &::before
      left: 15px;

  @media only screen and (max-width: $mobile-small)
    padding: 0 1em 0 2.5em;

    &::before
      left: -10px;