//= colors
$blue = #0097de;
$peach = #ffb373;
$default-bottom-shadow = 0 3px 3px -3px rgba(0,0,0,0.7);
$lighter-gray = lighten(lightgray, 50%);

//= userful variables
$menu-list = about-us services resources contact-us;
