//= colors
$blue = #0097de;
$peach = #ffb373;
$lighter-gray = lighten(lightgray, 50%);

//= userful variables
$menu-list = about-us services resources contact-us;

//= defaults
$default-bottom-shadow = 0 3px 3px -3px rgba(0,0,0,0.7);
$default-text-shadow = 2px 3px 2px rgba(0,0,0, 0.5);


//= breakpoints
$mobile       = 580px;
$mobile-small = 460px;
$tablet       = 768px;
$jumbo        = 1200px;
