//= colors
$blue = #0097de;
$peach = #ffb373;
$lighter-gray = lighten(lightgray, 50%);

//= userful variables
$menu-list = about-us services resources contact-us;
$mobile-menu-height = 10.3em;
$mobile-menu-width = 22rem;

//= defaults
$default-bottom-shadow = 0 4px 3px -3px rgba(0,0,0,0.6);
$default-text-shadow = 2px 3px 2px rgba(0,0,0, 0.5);
$header-text-shadow = 1px 4px 3px rgba(0,0,0,.15);
$min-content-height = 44em;

//= breakpoints
$mobile-xsmall = 380px;
$mobile-small  = 460px;
$mobile        = 580px;
$mobile-large  = 680px;
$tablet        = 768px;
$jumbo         = 1200px;
