ul(class="#{section}")
  li.index
    a(href="/", class="nav-link") Home
  li.lab
    a(href="/lab", class="nav-link") Our Lab
  li.work
    a(href="/work", class="nav-link") Our Work
  li.literature
    a(href="/literature", class="nav-link") Literature
  li.contact
    a(href="/contact", class="nav-link") Contact Us
