extends layout

block content
  section.no-slant
    .inner
      h1.zero-bottom-margin.center Page Not Found
  section
    .inner
      p Sorry, we cannot find <strong>#{url}</strong>. Please try again.
