extends layout

block content
  section
    .inner
      h1= title
      base(href='/images/services/#{title.toLowerCase()}/')

      +productContent('emax', 'emax.jpg')
        span
          | IPS emax
          sup 速&nbsp;
          | is a lithium disilicate material fabricatedinto a monolithic all-ceramic restoration. Combining strength and esthetics, this is the most versatile all-ceramic restoration from White Knight Implants. Emax is usable for posterior anterior and implant.

      +productContent('bruxzir posterior', 'bruxzir_posterior.jpg')
        span
          | BruxZir Posterior
          sup 速&nbsp;
          | Solid Zirconia is indicated for crowns, bridges, veneers, inlays and onlays, screw-retained implant crowns and full-arch implant prostheses. It is an esthetic alternative to PFM metal occlusal/lingual or full-cast restorations and ideal for restorations requiring extra durability such as crowns under partials or screw-retained implant crowns. The chip-proof durability of BruxZir restorations also makes them ideal for bruxers who have broken natural teeth or previous PFM restorations. BruxZir restorations are also ideal for patients lacking the preparation space for a PFM.

      +productContent('bruxzir anterior', 'bruxzir_anterior.jpg')
        span
          | BruxZir Anterior
          sup 速&nbsp;
          | is the latest advancement in the BruxZir Solid Zirconia product line. This highly esthetic restorative material is designed specifically to satisfy the esthetic and functional requirements of the anterior region of the mouth.

      +productContent('lava plus', 'lava.jpg')
        span
          | Lava Plus
          sup 速&nbsp;
          | 3M ESPE Lava Crowns and Bridges are Lava Zirconia-based restorations overlaid with a veneering ceramic. The zirconia copings and frameworks provide the strength while the veneering material provides the esthetics. The system is used for crowns, implant abutments, and bridges.

