extends layout

block content
  section
    .inner
      h1= title

      .box-content
        h2.box-content-header Emax
        div
          img.box-content-image(src='/images/emax.jpg', alt='emax')
          p.box-content-description
            IPS e.max® is a lithium disilicate material fabricatedinto a monolithic all-ceramic restoration. Combining strength and esthetics, this is the most versatile all-ceramic restoration from White Knight Implants. Emax is usable for posterior anterior and implant
        a.box-content-button(tabindex='0', href='/contact?subject=emax') Request Info

      .box-content
        h2.box-content-header BruxZir
        div
          img.box-content-image(src='/images/bruxzir.jpg', alt='bruxzir')
          p.box-content-description.
            BruxZir® Solid Zirconia is indicated for crowns, bridges, veneers, inlays and onlays, screw-retained implant crowns and full-arch implant prostheses. It is an esthetic alternative to PFM metal occlusal/lingual or full-cast restorations and ideal for restorations requiring extra durability such as crowns under partials or screw-retained implant crowns. The chip-proof durability of BruxZir restorations also makes them ideal for bruxers who have broken natural teeth or previous PFM restorations. BruxZir restorations are also ideal for patients lacking the preparation space for a PFM. BruxZir Anterior is the latest advancement in the BruxZir Solid Zirconia product line. This highly esthetic restorative material is designed specifically to satisfy the esthetic and functional requirements of the anterior region of the mouth
        a.box-content-button(tabindex='0', href='/contact?subject=bruxzir') Request Info
