extends layout

block content
  section.no-slant.lead
    .inner
      h1= title
      h2 We'll be in touch.
  section.no-slant
    .inner
      form
        .form-row
          .form-item
            label(for='reason', aria-required='true') Why are you contacting us?
            input(name='reason', id='reason', type='text', required)
          .form-item
            label(for='name', aria-required='true') Name
            input(placeholder='Name', name='name', id='name', type='text', required)
        .form-row
          .form-item
            label(for='email', aria-required='true') Email address
            input(placeholder='Email', name='email', id='email', type='email', required)
          .form-item
            label(for='phone') Phone (optional)
            input(placeholder='Phone (optional)', name='phone', id='phone', type='tel')
        .form-row.full
          .form-item
            label(for='message', aria-required='true') Message
            textarea(placeholder='Your Message', name='message', id='message', required)
        input(value='Send', class='button', type='submit')
  section
    .inner.full
      h2(id='map-header') Our Location

      include ./includes/business-address

      div(
        id='map',
        aria-labelledby='map-header',
        aria-describedby='business-address'
      )

    script(src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false")
    script.
      google.maps.event.addDomListener(window, 'load', function() {
        utilities.loadMap('map', 41.345012, -72.975545, 'White Knight Implants');
      });
