extends layout

block content
  if promo
    section.no-slant.lead
      .inner
        h1=header_text
        h2!=promo.title

    section
      .inner
        div(style='font-size: 1.7rem; margin-bottom: 1.5em;')!=promo.text.replace(/\n/g, '<br/>')

        p
          | Questions or comments about this promotion? Call us at 1-800-231-9995 or
          +space
          a(tabindex='0', href='/contact-us?subject=Featured-Promotion') contact us
          | .
  else
    section.no-slant.lead
      .inner
        h1=header_text
        h2 None right now
    section
      .inner
        p Currently, we are running no promotions. Please check back soon.
