extends layout

block content
  section
    .inner
      h1= title
      base(href='/images/services/implants/')

      .box-content
        h2.ribbon-container(id='_custom_abutments')
          span.ribbon.
            Custom Abutments
        div
          img.box-content-image(src='custom_abutments.jpg', alt='custom abutments')
          p.box-content-description(aria-describedby='_custom_abutments')
            span Unlike standard stock abutments which are produced in a uniform shape and size, then cut to fit a poured model of the patient’s mouth, custom CAD CAM abutments are designed on the 3Shape digital scanner and produced in the exact dimensions necessary to mimic the characteristics of the individual patient’s dentition.
        a.box-content-button(tabindex='0', href='/contact-us?subject=custom%20abutments') Request Info

      .box-content
        h2.ribbon-container(id='_encode')
          span.ribbon.
            Encode
        div
          img.box-content-image(src='encode.jpg', alt='encode')
          p.box-content-description(aria-describedby='_encode')
            span The  Encode  Impression  System  eliminates  the  need  for  implant-level impressions, effectively streamlining the treatment process for the surgeon, restorative clinician, and patient. Rather than exchange the  healing  component  for  a  separate  transfer  coping  during  the restorative  phase,  the  clinician  simply  takes  a  standard  or  digital impression  of  the  Encode  Healing  Abutment.  This  abutment  is “encoded”  with  special  markings  that,  when  scanned,  relay abutment design and milling information. In addition to saving chair time  and  reducing  inventory  requirements,  the  simplified  Encode process serves to minimize component swapping, mitigating gingival trauma and potentially helping to preserve soft tissue critical to an esthetic outcome.
            span Available in titanium or zirconia with a titanium base, each patient-specific  custom  abutment  from  is  carefully  designed  using  the proprietary  Encode  CAD  library  for  optimal  support of  the  final restoration,  a  natural  emergence  profile,  and  long-term  gingival health.
        a.box-content-button(tabindex='0', href='/contact-us?subject=encode') Request Info

      .box-content
        h2.ribbon-container(id='_izir')
          span.ribbon.
            Izir Solid Zirconia
        div
          img.box-content-image(src='izir.jpg', alt='izir solid zirconia')
          p.box-content-description(aria-describedby='_izir')
            span One of the newest restorations available, the Izir Solid Zirconia screw retained hybrid offers an extremely strong, esthetic alternative to the titanium based acrylic hybrid.
        a.box-content-button(tabindex='0', href='/contact-us?subject=izir') Request Info
