extends layout

block content
  section
    .inner
      h1= header_text
      base(href='/images/services/#{header_text.toLowerCase()}/')

      +productContent('custom abutments', 'custom_abutments.jpg')
        span Unlike standard stock abutments which are produced in a uniform shape and size, then cut to fit a poured model of the patient’s mouth, custom CAD CAM abutments are designed on the 3Shape digital scanner and produced in the exact dimensions necessary to mimic the characteristics of the individual patient’s dentition.

      +productContent('encode', 'encode.jpg')
        span The  Encode  Impression  System  eliminates  the  need  for  implant-level impressions, effectively streamlining the treatment process for the surgeon, restorative clinician, and patient. Rather than exchange the  healing  component  for  a  separate  transfer  coping  during  the restorative  phase,  the  clinician  simply  takes  a  standard  or  digital impression  of  the  Encode  Healing  Abutment.  This  abutment  is “encoded”  with  special  markings  that,  when  scanned,  relay abutment design and milling information. In addition to saving chair time  and  reducing  inventory  requirements,  the  simplified  Encode process serves to minimize component swapping, mitigating gingival trauma and potentially helping to preserve soft tissue critical to an esthetic outcome.
        span Available in titanium or zirconia with a titanium base, each patient-specific  custom  abutment  from  is  carefully  designed  using  the proprietary  Encode  CAD  library  for  optimal  support of  the  final restoration,  a  natural  emergence  profile,  and  long-term  gingival health.

      +productContent('izir', 'izir.jpg')
        span One of the newest restorations available, the Izir Solid Zirconia screw retained hybrid offers an extremely strong, esthetic alternative to the titanium based acrylic hybrid.

      +productContent('asc abutments', 'asc.jpg', 'taller')
        span Manage challenging cases easier with a cement-free angulated screw channel solution. Have more restorative flexibility without compromising esthetics. Gain easier access: patient comfort and accessibility even with limited vertical space.
        span Available in zirconia for Nobel Biocare implants with a conical connection, theabutment can feature an angulated screw channel of up to 25 degrees from the axis of the implant. The Omnigrip tooling uses a friction based pick up function that grips the screw at a wide range of angles and helps keep the screw in position until it is properly threaded.

      +productContent('mesiostructure', 'mesiostructure.jpg')
        span On occasion when the angles of implants pose an esthetic problem which cannot be corrected by any other means, it becomes necessary to fabricate an intermediate base, called a “Mesiostructure”, that allows the laboratory to correct angle problems by enabling the cementation of crowns onto this foundation in a very esthetic and secure manner.
