extends layout

block content
  section.lead.no-slant
    .inner
      h1= title
      h2 Technology. Expertise. Value.
      p White Knight Implants, LLC is a full-service dental laboratory located in Southern Connecticut.
  //- h3.featured-header Upcoming Events

  //- section.featured(id='iTeroElement')
  //-   .inner
  //-     .box-content
  //-       h4.ribbon-container
  //-         span.ribbon September 29, 2015
  //-       h5 Meet iTero Element!
  //-       img.box-content-image(src='/images/events/event1.jpg', alt='iTero Element')
  //-       p Please join us at White Knight to learn about the new <a href='http://www.itero.com/'>iTero Element</a>. With its sleek compact new design including portability and advanced wand features, the new iTero Element makes scanning more enjoyable for both the doctor and the patient.  Learn how White Knight turns your scan into the perfect dental prosthetic.
  //-       p This event will be hosted by iTero. Food provided by <a href='http://katzsdeli.net/'>Katz’s Deli</a>.
  //-       p
  //-         strong.
  //-           Tuesday September 29th<br>6:30pm<br>R.S.V.P. BY 9/22/2015
  //-       include ./includes/business-address
  //-       a.call-to-action-button(tabindex='0', href='/contact-us?subject=Event RSVP') RSVP

  h3.featured-header Featured Services

  section
    .inner

      +productContent('encode', '/images/services/implants/encode.jpg')
        span The  Encode  Impression  System  eliminates  the  need  for  implant-level impressions, effectively streamlining the treatment process for the surgeon, restorative clinician, and patient. Rather than exchange the  healing  component  for  a  separate  transfer  coping  during  the restorative  phase,  the  clinician  simply  takes  a  standard  or  digital impression  of  the  Encode  Healing  Abutment.  This  abutment  is “encoded”  with  special  markings  that,  when  scanned,  relay abutment design and milling information. In addition to saving chair time  and  reducing  inventory  requirements,  the  simplified  Encode process serves to minimize component swapping, mitigating gingival trauma and potentially helping to preserve soft tissue critical to an esthetic outcome.
        span Available in titanium or zirconia with a titanium base, each patient-specific  custom  abutment  from  is  carefully  designed  using  the proprietary  Encode  CAD  library  for  optimal  support of  the  final restoration,  a  natural  emergence  profile,  and  long-term  gingival health.

  section
    .inner

      +productContent('ceramic restorations', '/images/bruxzir_solid_zirconia.jpg')
        span
          | BruxZir
          sup ®&nbsp;
          | Solid Zirconia is indicated for crowns, bridges, implants,inlays and onlays, screw-retained implant crowns and full-arch implant prostheses.

  section
    .inner

      +productContent('itero scans', '/images/itero_scans.jpg', 'full-width')
        span Enter the world of digital dentistry! White Knight Implants can now accept your iTero scans!
