extends layout

block content
  section.lead.no-slant
    .inner
      h1=company_name
      h2 Connecticut&rsquo;s leading-edge dental laboratory.
      p From <a href='/ceramics'>ceramics</a>, to <a href='/implants'>implants</a>, to <a href='/removable-prosthetics'>removables</a>&mdash;we do it all. And we do it using the latest technology. We stand for accuracy, experience, quality, value, and personalized service. <strong>100% guaranteed</strong>.

  h3.featured-header Featured Services

  section
    .inner

      +productContent('itero scans', '/images/itero_scans', 'full-width')
        span Enter the world of digital dentistry! White Knight Implants can now accept your <a href="http://www.itero.com/">iTero</a> scans!

  section
    .inner
      blockquote.testimonial
        p White Knight has been my dental lab since 2006. Their professionalism and outstanding customer service is consistently better than any dental lab I've ever used. Because of their attention to detail and state of the art technology, it is without reservation that I recommend any dentist looking for a new lab to give White Knight a try.
        .bottom
          strong Dr. David Samson
          small Annapolis, MD

  section
    .inner

      +productContent('encode', '/images/services/implants/encode')
        span The  Encode  Impression  System  eliminates  the  need  for  implant-level impressions, effectively streamlining the treatment process for the surgeon, restorative clinician, and patient. Rather than exchange the  healing  component  for  a  separate  transfer  coping  during  the restorative  phase,  the  clinician  simply  takes  a  standard  or  digital impression  of  the  Encode  Healing  Abutment.  This  abutment  is “encoded”  with  special  markings  that,  when  scanned,  relay abutment design and milling information. In addition to saving chair time  and  reducing  inventory  requirements,  the  simplified  Encode process serves to minimize component swapping, mitigating gingival trauma and potentially helping to preserve soft tissue critical to an esthetic outcome.
        span Available in titanium or zirconia with a titanium base, each patient-specific  custom  abutment  from  is  carefully  designed  using  the proprietary  Encode  CAD  library  for  optimal  support of  the  final restoration,  a  natural  emergence  profile,  and  long-term  gingival health.

  section
    .inner
      blockquote.testimonial
        p I have worked with White Knight for the last 11 years. We have worked together to deliver crowns, bridges and complicated implant restorations to hundreds of my patients. As its founder and owner, Howard provides passionate counsel and workmanship. He and his wonderful staff of technicians are caring and meticulous. It is certainly my fortune to have discovered his laboratory. I plan to be his devoted client until I retire.
        .bottom
          strong Dr. Daniel Shoenthal
          small Stratford, CT

  section
    .inner

      +productContent('ceramic restorations', '/images/bruxzir_solid_zirconia')
        span
          | BruxZir
          sup ®&nbsp;
          | Solid Zirconia is indicated for crowns, bridges, implants,inlays and onlays, screw-retained implant crowns and full-arch implant prostheses.
