extends layout

block content
  section.lead
    .inner
      h1= title
      h2 Technology. Expertise. Value.
      p White Knight Implants, LLC is a dental laboratory with people committed to service and quality.  Our technicians maintain a constant level of attention to the dentist’s specific requirements while producing timely and error free work.  We are a full service laboratory encompassing digital dentistry in the making of custom abutments in titanium or zirconia, implant bars, bridges, Encode, CAM-structSURE, procera,  E-max and Lava.  We also fabricate full and partial dentures, porcelain to metal and all ceramic crowns as well as conventional and attachment partials and all types of fixed and removable implant prosthetics.
  section
    .inner
      p Welcome to #{company_name}
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
  section
    .inner
      p Welcome to #{company_name}
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
  section
    .inner
      p Welcome to #{company_name}
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
