extends layout

block content
  section.lead.no-slant
    .inner
      h1 White Knight Implants
      h2 Connecticut&rsquo;s leading-edge dental laboratory.
      p From <a href='/ceramics'>ceramics</a>, to <a href='/implants'>implants</a>, to <a href='/removable-prosthetics'>removables</a>&mdash;we do it all. And we do it using the latest technology. We stand for accuracy, experience, quality, value, and personalized service. <strong>100% guaranteed</strong>.

  h3.featured-header Featured Services

  section
    .inner

      +productContent('encode', '/images/services/implants/encode.jpg')
        span The  Encode  Impression  System  eliminates  the  need  for  implant-level impressions, effectively streamlining the treatment process for the surgeon, restorative clinician, and patient. Rather than exchange the  healing  component  for  a  separate  transfer  coping  during  the restorative  phase,  the  clinician  simply  takes  a  standard  or  digital impression  of  the  Encode  Healing  Abutment.  This  abutment  is “encoded”  with  special  markings  that,  when  scanned,  relay abutment design and milling information. In addition to saving chair time  and  reducing  inventory  requirements,  the  simplified  Encode process serves to minimize component swapping, mitigating gingival trauma and potentially helping to preserve soft tissue critical to an esthetic outcome.
        span Available in titanium or zirconia with a titanium base, each patient-specific  custom  abutment  from  is  carefully  designed  using  the proprietary  Encode  CAD  library  for  optimal  support of  the  final restoration,  a  natural  emergence  profile,  and  long-term  gingival health.

  section
    .inner

      +productContent('ceramic restorations', '/images/bruxzir_solid_zirconia.jpg')
        span
          | BruxZir
          sup ®&nbsp;
          | Solid Zirconia is indicated for crowns, bridges, implants,inlays and onlays, screw-retained implant crowns and full-arch implant prostheses.

  section
    .inner

      +productContent('itero scans', '/images/itero_scans.jpg', 'full-width')
        span Enter the world of digital dentistry! White Knight Implants can now accept your iTero scans!
