extends layout

block content
  h1= title
  p Welcome to #{company_name}
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsa accusamus sed. Corporis commodi at iste quae ipsam animi, vel debitis iusto quo autem error, repudiandae, molestiae perspiciatis rem fuga!
