extends layout

block content
  section.lead.no-slant
    .inner
      h1= title
      p Chances are that you have heard and read much about iTero™ dental intra oral scans. Here at White Knight Implants LLC, we have the capacity to process your iTero™ scans, because it helps both you and your patients.
  section
    .inner
      h2 Benefits
      p
        strong
          | iTero
          sup ®&nbsp;
        | <strong>dental scanners</strong> are among the most technologically advanced restoration tools on the market today. The resulting intra oral scans are beneficial for everyone involved. A few of the positive results you can expect with this system are:
      ul
        li <strong>Increase Accuracy</strong> – These machines scan and record the entire surface area for a complex, highly accurate scan. Our skilled technicians are able to produce more reliable prosthetics because the information they receive is more accurate.
        li <strong>Decrease the Wait</strong> – Get your lab cases submitted faster. Then receive your prosthetics in less time due to our ability to process your scan quickly.
        li <strong>Cut Down on Remakes</strong> – The iTero™ dental intra oral scanner almost eliminates the need to remake prosthetics.
        li <strong>Save Time</strong> – Scanners cut down your chairside time by more than 20 percent, between eliminating impressions and producing more-precise restorations. You also get an image for review 50 percent faster than with PVS.
        li <strong>Patient Satisfaction</strong> – No more messy impressions. The iTero™ dental scanner is one way to make appointments easier on patients. The wand rests directly on their teeth, and it works quickly.  Once the scan is complete, you can show your patients an image of the treatment plan. This increases patient confidence in the procedure and in your advanced approach to their care.
        li <strong>Ease of Submissions</strong> – Send cases through your own scanner system. Contact Align Technology in order to have White Knight Implants LLC added to your “Favorite Labs” within the system.
      a.call-to-action-button.large(tabindex='0', href='/contact-us?subject=itero') Request Info
