extends layout

block content
  section.no-slant
    .inner
      h1.center= title
      base(href='/images/lab_photos/')
  section
    .inner.full
      div.lab-photos-container
        each image in images
          figure
            img(src='#{image}' alt='')


