extends layout

block content
  section.no-slant
    .inner
      h1.center= title
      base(href='/images/lab_photos/')
  section
    .inner.full
      div.lab-photos-container
        each image in images
          if (image.split('.')[1].toLowerCase() === 'jpg' || image.split('.')[1].toLowerCase() === 'jpeg') && !~image.indexOf('@2x')
            figure
              img(src='#{image}' alt='')


