doctype html
html(lang='en', class='no-js')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='google-site-verification' content='avwvrtHSCxbiGPFMIc4TcorQGW84FcI2Yqbq_s8xnI0')
    meta(name='Description', content='White Knight Implants offers ceramics, implants, removables, and more. Our team is experienced and accurate. Our work is 100% guaranteed.')
    meta(name='keywords', content='Connecticut dentist, Connecticut dental lab, iTero, iTero scan, Emax, Bruxzir Posterior, Bruxzir Anterior, Lava Plus, Custom Abutments, Encode, Izir, Asc Abutments, Mesiostructure, dentures, seminar, full-service, full service')
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/apple-touch-icon.png', rel='apple-touch-icon')
    link(href='/apple-touch-icon-76x76.png', rel='apple-touch-icon', sizes='76x76')
    link(href='/apple-touch-icon-120x120.png', rel='apple-touch-icon', sizes='120x120')
    link(href='/apple-touch-icon-152x152.png', rel='apple-touch-icon', sizes='152x152')

  body(class='#{section}')
    .container
      include ./includes/header
      include ./includes/mixins.jade
      main
        block content
      include ./includes/footer
