extends layout

block content
  section
    .inner
      if(typeof msg !== 'undefined')

        div(class='message', id='dismiss-message')
          a(href='#dismiss-message', aria-label='Click or touch to dismiss message')
            p= msg

      h1=header_text
      h2 Add a promotion

      form(method='post' action='/promo')
        label(for="title") Promotion title
        input(type="text" name="title" id="title" required placeholder="My Awesome Promotion")
        label(for="text_teaser") Promotion teaser text
        input(type="text" name="text_teaser" id="text_teaser" required placeholder="I appear inside the promotion popup. Keep me small.")
        label(for="text") Promotion full text
        textarea(name="text" id="text" required)
        input(type="submit" class="button" value="Submit")
