extends layout

block content
  section
    .inner
      h1= header_text

      +productContent('full dentures', '/images/services/removable_prosthetics/full_dentures')
        span Made from high impact acrylic with custom gingival shades and teeth Portrait and Phoneras teeth are set in wax on a light cured bite block.  Implant supported removable dentures areanchored on locator attachments for increase stability during try-in. Immediate dentures also available.

      +productContent('partial dentures', '/images/services/removable_prosthetics/partial_dentures')
        span Vitallium based partial dentures or flexi Partial denture can be used to replace one or multiple missing teeth. Partial dentures can be used as a permanent or as a temporary solution until implants are placed.
