extends layout

block content
  section.lead.no-slant
    .inner
      h1= title
      h2 Hassle-free
  section
      .inner
        h3 RMS Royal Messenger Service – Branford, CT
        p If your office is in <abbr class="region" title="Connecticut">CT</abbr>, call this phone number to arrange a pick up of your case(s):
        p(class='zero-bottom-margin')
          strong 1-800-922-1258
        p
          strong Fax # – 203-483-9845
