extends layout

block content
  section.lead.no-slant
    .inner
      h1= header_text
      h2 Hassle-free.
  section
      .inner
        p Call us at <a href="tel:18002319995">1-800-231-9995</a> to arrange a pick up of your cases
