extends layout

block content

  section.no-slant
    .inner
      h1= header_text
  section
    ul.list-as-content.side-by-side.with-icon
      each key, val in books
        li
          a(class='black-link', target='_blank', href='#{key}') #{val}
