extends layout

block content
  section
    .inner
      h1= title
  section
    .inner
      h2 Howard Gershman
      p After graduating from Boston University with a pre-med degree, Howard joined the US Army and took dental tech courses at Fort Sam Houston in Texas. In 1970, he was assigned to the 665th Dental Detachment near Seoul Korea where he spent a year working with Dental officers learning crown, bridge, and denture fabrication.
      p He was then reassigned to a lab near Munich, Germany where he learned many new techniques from a civilian tech named Sigfrid and got a chance to see most of Europe.
      p He then returned to the US and completed a Master's course in environmental science at <abbr title="Southern Connecticut State University">SCSU</abbr> in 1975.
      p Howard worked as a dental tech in three labs while taking courses at NYU, Pankey, and Dentsply, becoming proficient in crown and bridge, implants, removables, and achieving <abbr title="Certified Dental Technician">CDT</abbr> status in 1977.
      p In 1991, Howard started his own full-service lab, White Knight Implants, serving dentists in Southern Connecticut and beyond.
      p Howard has given numerous seminars with Biomet 3i, Nobel Biocare, Dentsply International, as well as Itero.  While White Knight provides a full range of lab services, Howard's personal specialty is with full arch restorations in many innovative styles and materials.
      p Along with Ami Busel, co-owner, and their dedicated team of technicians (some of whom have been with White Knight Implants 20+ years), Howard is proud to serve his clients with exceptional quality, prompt service, and the latest cutting-edge techniques.
  section
    .inner
      h2 Ami Busel
      p After serving in the Israeli Army, Ami studied dental technology at The Hadasa Dental School in Jerusalem, Israel.  In 1993 Ami moved to the US and joined the team at Dentek in Milford, CT working in their removable department.
      p He joined White Knight Implants in 1994 and became a partner in 2004.  Today Ami leads the Digital Technology Department, where he uses cutting edge technology and the latest materials and techniques to produce the most accurate and individualized restorations.
