extends layout

block content
  section.lead.no-slant
    .inner
      h1= header_text
      h2 We Love What We Do.
  section
    .inner
      p White Knight Implants LLC is a dental laboratory with people committed to service and quality.  Our technicians maintain a constant level of attention to the dentist’s specific requirements while producing timely and error free work.  We are a full service laboratory encompassing digital dentistry in the making of <a href="/implants#_custom_abutments">custom abutments</a> in titanium or zirconia, implant bars, bridges, <a href="/implants#_encode">Encode</a>, CAM-structSURE, procera, <a href="/ceramics#_emax">E-max</a> and <a href="/ceramics#_lava_plus">Lava</a>.  We also fabricate <a href="/removable_prosthetics#_full_dentures">full</a> and <a href="/removable_prosthetics#_partial_dentures">partial dentures</a>, porcelain to metal and all ceramic crowns as well as conventional and attachment partials and all types of fixed and removable implant prosthetics.
      p Since adding <a href="/itero">iTero</a> to our laboratory we are now able to accept digital scans from the dentist, eliminating the need to take impressions.  We are able to produce high quality restorations in less time and at a lesser cost.  Models are 3D printed reducing the chance of distortion inherent in conventional stone models.
