extends layout

block content
  section
    .inner
      h1= title
  section
    .inner
      h2 Howard Gershman
      p After graduating from Boston University with a pre-med degree, Howard joined the US Army and took dental tech courses at Fort Sam Houston in Texas. In 1970, he was assigned to the 665th Dental Detachment near Seoul Korea where he spent a year working with Dental officers learning crown, bridge, and denture fabrication.
      p He was then reassigned to a lab near Munich, Germany where he learned many new techniques from a civilian tech named Sigfrid and got a chance to see most of Europe.
      p He then returned to the US and completed a Master's course in environmental science at SCSU in 1975.
  section
    .inner
      h2 Ami Busel
      p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae praesentium ut molestias culpa facere aliquid, amet dolore cupiditate consectetur consequuntur. Ut sint, dolore unde natus eos laudantium iusto placeat laboriosam.
      p Nemo cumque aliquam suscipit debitis ex placeat accusamus? Aliquam aut cum error non, tempore cumque natus obcaecati blanditiis est! Magnam odio vitae quasi, cupiditate tempora incidunt numquam reiciendis facilis.
