extends layout

block content
  section.lead.no-slant
    .inner
      h1= title
      h2 We Love What We Do.
  section
    .inner
      p White Knight Implants LLC is a dental laboratory with people committed to service and quality.  Our technicians maintain a constant level of attention to the dentist’s specific requirements while producing timely and error free work.  We are a full service laboratory encompassing digital dentistry in the making of custom abutments in titanium or zirconia, implant bars, bridges, Encode, CAM-structSURE, procera,  E-max and Lava.  We also fabricate full and partial dentures, porcelain to metal and all ceramic crowns as well as conventional and attachment partials and all types of fixed and removable implant prosthetics.
      p Since adding iTero to our laboratory we are now able to accept digital scans from the dentist, eliminating the need to take impressions.  We are able to produce high quality restorations in less time and at a lesser cost.  Models are 3D printed reducing the chance of distortion inherent in conventional stone models.
