extends layout

block content
  section
    .inner
      h1= header_text
      p Make sure you are <a href='/login'>logged in</a>.
      img(src='https://media.giphy.com/media/doJcoRRCK1Ni8/giphy.gif' alt)